/* THESE MUST STAY AT THE TOP FOR script.js TO WORK */

.en {
    display: none;
}

.fr {
    display: block;
}

/* you can start moving stuff here */

body{
    margin:0;
}

.navbar a {
    color: #FFFFFF;
}

.navbar {
    background-color: #E60000;
    color: #FFFFFF;
    text-align: center;
    position: sticky;
    top: 0;
}

footer {
    background-color: #696969;
    color: #FFFFFF;
    text-align: center;
}

.content {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
}

.magicdle {
    background-color: #29339b;
    color: #FFFFFF;
}

.tuniv {
    background-color: #182B2F;
    color: #FFFFFF;
}

.flag {
    width: 1em;
    aspect-ratio: 1/1;
}

.example {
    width: 400px;
    height: 350px;
}