body {
    background-color: #E60000;
    color: #FFFFFF;
}

.navbar {
    background-color: #E60000;
    color: #FFFFFF;
    text-align: center;
}

a {
    color: #FFFFFF;
}

.linebreak {
    background-color: #695C5C;
}