/* THESE MUST STAY AT THE TOP FOR script.js TO WORK */

.en {
    display: none;
}

.fr {
    display: block;
}

/* you can start moving stuff here */

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #FF2521;
    color: #FFFFFF;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: #FFFFFF;
    padding: 14px;
    text-decoration: none;;
}

.navbar li a:hover {
    background-color: #b81b18;
    font-size: large;
}

.navbar button {
    background-color: #FFFFFF;
    border: none;
    color: #b81b18;
    padding: 5px 10px;
    border-radius: 25px;
}

.navbar button:hover {
    background-color: #b81b18;
    color: #FFFFFF;
}

footer {
    background-color: #696969;
    color: #FFFFFF;
    text-align: center;
    padding: 8px;
}

.content {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
}

/* .magicdle {
    background-color: #29339b;
    color: #FFFFFF;
}

.tuniv {
    background-color: #182B2F;
    color: #FFFFFF;
} */

.flag {
    width: 1em;
    aspect-ratio: 1/1;
}

.example {
    width: 400px;
    height: 350px;
}